.small-12.medium-12.columns
  %p.text-center
    Future Artist Network Service
    %br
    %small
      &copy;Faith,Inc.All Rights Reserved.
  .row
    .small-12.medium-8.medium-centered.columns
      .row
        .small-9.small-offset-3.medium-4.medium-offset-0.columns
          %ul
            %li
              %a{href:"#"}
                ホーム
            %li
              %a{href:"#"}
                言語
            %li
              %a{href:"#"}
                カスタマーサポート
        .small-9.small-offset-3.medium-4.medium-offset-0.columns
          %ul
            %li
              %a{href:"#"}
                サービス案内
            %li
              %a{href:"#"}
                メンテナンス情報
            %li
              %a{href:"#"}
                パスワードをお忘れの方
        .small-9.small-offset-3.medium-4.medium-offset-0.columns
          %ul
            %li
              %a{href:"#"}
                利用規約
            %li
              %a{href:"#"}
                個人情報保護方針
            %li
              %a{href:"#"}
                運営会社
